*
{
    margin: 0;
    padding: 0;
}
#parent
{
    background-color: black;
    color: white;
    height: 20vh;
    width: 100vw;
}
.child1
{
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 1%;
}
.child2
{
    text-align: center;
    font-family: "Protest Revolution", sans-serif;
    padding-top: 1%;
    font-size: medium;
}
.images
{
    position:absolute;
    height: 35%;
    width: 30%;
    margin-left: 2%;
    /* margin-top: 1%; */
    /* padding-top: 1%; */
}
.Intro
{
  font-family: 'Times New Roman', Times, serif;
  font-size: smaller;
  margin-top: 1%;
}
.Parent1
{
    
    height: 100vh;
    width: 100%;
    padding-top: 1%;
}
.box
{
    height: 200px;
   text-align: center;
   margin-left: 35%;
   margin-right: 5%;
   padding-top: 2%;
   text-align:justify;
}
#Education
{
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    font-weight:bolder;
}
.box1
{
    display: inline-block;
}
#Life
{
    margin-left: 17%;
}
#Career
{
    margin-inline-start: 33%;
}

.Content12
{
    font-family:'Times New Roman', Times, serif;
    font-size:small;
    font-weight: lighter;
    text-align: justify;
    /* border-style: dashed; */
    
}
.box2
{
    position: absolute;
    
}
#content
{
    margin-left: 1%;
    margin-inline-end: 52%;
    padding-top: 2%;
   
}
#content1
{
    margin-right: 1%;
    margin-inline-start: 49%;
    padding-top: 2%;
    
}



