*
{
    margin: 0;
    padding: 0;
}
.navigation_bar
{
    background-color:rgba(0, 255, 140, 0.929);
    height: 10%;
    width: 95%;
    padding: 1%;
    margin: 1%;
    /* margin-right: 1%; */
    /* position: absolute; */
    display: inline-block;
}
.name
{
    text-decoration: none;
}
.information
{
    /* text-decoration: none; */
}